<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (typeof error !== 'undefined' && error) { %>
    <div class="error-message"><%= error %></div>
    <% } %> <% if (typeof message !== 'undefined' && message) { %>
    <div class="message-message"><%= message %></div>
    <% } %>

    <h1>Bonjour <%= utilisateur.prenom %> <%= utilisateur.nom %></h1>
    <a href="/">Acceuil</a><br />
    <a href="/deconnexion">Deconnexion</a><br />
    <a href="/profile">Profile</a><br />
    <a href="/ajouter-transaction">Ajouter Transaction</a><br />
    <a href="/transactions">Transactions</a><br />
    <a href="/categorie/ajouter">Ajouter Nouvelle Categorie</a><br />
    <a href="/categories">Categories</a><br />
    <a href="/budgets">Budgets</a><br />

    <hr />

    <h2>Résumé des Transactions</h2>
    <p>Total des Revenus: <%= totalRevenus %> <%= utilisateur.devise %></p>
    <p>Total des Frais: <%= totalFrais %> <%= utilisateur.devise %></p>
    <p>Solde Net: <%= soldeNet %> <%= utilisateur.devise %></p>

    <hr />
    <h2>Somme des Transactions Par Catégorie</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Catégorie</th>
          <th>Somme</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0; Object.entries(sommeParCategorie).forEach(([categorie,
        somme]) => { total+=somme; %>
        <tr>
          <td><%= categorie %></td>
          <td><%= somme %> <%= utilisateur.devise %></td>
        </tr>
        <% }) %>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong><%= total %> <%= utilisateur.devise %></strong></td>
        </tr>
      </tbody>
    </table>

    <% let pourcentageRevenus = (totalRevenus / (totalRevenus + totalFrais) *
    100) || 0; let pourcentageFrais = (totalFrais / (totalRevenus + totalFrais)
    * 100) || 0; %>

    <h2>Progressions</h2>

    <span>Revenus</span>
    <div
      style="
        border: 1px solid #ccc;
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
      "
    > 
      <div
        style="
          height: 100%;
          width: <%= pourcentageRevenus %>%;
          background-color: green;
          text-align: right;
          color: white;
        "
      ><%= Math.floor(pourcentageRevenus) %>%</div>
    </div>

    <span>Frais</span>
    <div style="border: 1px solid #ccc; width: 100%; height: 30px">
      <div
        style="
          height: 100%;
          width: <%= pourcentageFrais %>%;
          background-color: red;
          text-align: right;
          color: white;
        "
      ><%= Math.floor(pourcentageFrais) %>%</div>
    </div>
  </body>
</html>
