<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (typeof error !== 'undefined' && error) { %>
    <div class="error-message"><%= error %></div>
    <% } %> <% if (typeof message !== 'undefined' && message) { %>
    <div class="message-message"><%= message %></div>
    <% } %>

    <h1>Bonjour <%= utilisateur.prenom %> <%= utilisateur.nom %></h1>
    <a href="/">Acceuil</a><br />
    <a href="/deconnexion">Deconnexion</a><br />
    <a href="/profile">Profile</a><br />
    <a href="/ajouter-transaction">Ajouter Transaction</a><br />
  </body>
</html>
